/out/
/target/classes/PresentationLayer/Application.class
/target/classes/PresentationLayer/components/appnav/AppNav.class
/target/classes/PresentationLayer/components/appnav/AppNavItem.class
/target/classes/BusinessLayer/Stores/Auction$1.class
/target/classes/BusinessLayer/Stores/Auction.class
/target/classes/BusinessLayer/CartAndBasket/Basket$ItemWrapper.class
/target/classes/BusinessLayer/CartAndBasket/Basket.class
/target/classes/ServiceLayer/Objects/BasketService.class
/target/classes/BusinessLayer/CartAndBasket/Repositories/Carts/BasketsRepository.class
/target/classes/BusinessLayer/Stores/Bid.class
/target/classes/BusinessLayer/Stores/BidReplies.class
/target/test-classes/Bridge/Bridge.class
/target/classes/BusinessLayer/CartAndBasket/Cart.class
/target/test-classes/UnitTests/CartAndBasket/CartBasketTests.class
/target/classes/DataAccessLayer/CartDAO.class
/target/classes/BusinessLayer/CartAndBasket/CartItemInfo.class
/target/classes/ServiceLayer/Objects/CartItemInfoService.class
/target/classes/ServiceLayer/Objects/CartService.class
/target/classes/BusinessLayer/Stores/CatalogItem.class
/target/classes/ServiceLayer/Objects/CatalogItemService.class
/target/classes/Globals/Category.class
/target/classes/classpath.index
/target/test-classes/classpath.index
/target/classes/PresentationLayer/views/clients/ClientView.class
/target/classes/BusinessLayer/CollectionI.class
/frontend/generated/jar-resources/comboBoxConnector.js
/frontend/generated/jar-resources/vaadin-dev-tools/component-picker.ts
/frontend/generated/jar-resources/vaadin-dev-tools/component-util.ts
/target/test-classes/Acceptance/ConcurrencyTests$1.class
/target/test-classes/Acceptance/ConcurrencyTests$2.class
/target/test-classes/Acceptance/ConcurrencyTests$3.class
/target/test-classes/Acceptance/ConcurrencyTests$4.class
/target/test-classes/Acceptance/ConcurrencyTests$5.class
/target/test-classes/Acceptance/ConcurrencyTests$6.class
/target/test-classes/Acceptance/ConcurrencyTests.class
/target/classes/BusinessLayer/Stores/Policies/Discounts/Conditional.class
/frontend/generated/jar-resources/contextMenuConnector.js
/frontend/generated/jar-resources/contextMenuTargetConnector.js
/frontend/generated/jar-resources/cookieConsentConnector.js
/frontend/generated/jar-resources/vaadin-dev-tools/copy-to-clipboard.js
/target/classes/DataAccessLayer/DalTBD.class
/frontend/generated/jar-resources/datepickerConnector.js
/target/classes/BusinessLayer/Stores/Policies/Discounts/Discount.class
/target/classes/BusinessLayer/Stores/Policies/DiscountPolicy.class
/target/classes/BusinessLayer/Stores/Policies/Discounts/DiscountType.class
/frontend/generated/jar-resources/dndConnector.js
/frontend/generated/jar-resources/dndConnector-es6.js
/target/test-classes/Bridge/Driver.class
/target/test-classes/UnitTests/ExternalSystemsUnitTests.class
/target/test-classes/Acceptance/ExternalSystemTests.class
/target/classes/Globals/FilterValue.class
/frontend/generated/jar-resources/Flow.d.ts
/frontend/generated/jar-resources/Flow.js
/frontend/generated/jar-resources/Flow.js.map
/frontend/generated/jar-resources/flow-component-directive.js
/frontend/generated/jar-resources/flow-component-renderer.js
/frontend/generated/jar-resources/FlowBootstrap.d.ts
/frontend/generated/jar-resources/FlowBootstrap.js
/frontend/generated/jar-resources/FlowClient.d.ts
/frontend/generated/jar-resources/FlowClient.js
/target/frontend/generated-flow-imports.d.ts
/target/frontend/generated-flow-imports.js
/frontend/generated/jar-resources/gridConnector.js
/frontend/generated/jar-resources/gridProConnector.js
/target/classes/BusinessLayer/Users/Guest.class
/target/test-classes/Acceptance/GuestPurchaseTests.class
/target/test-classes/Acceptance/GuestVisitorTests.class
/frontend/generated/jar-resources/vaadin-time-picker/helpers.js
/target/classes/BusinessLayer/Stores/Policies/Discounts/Hidden.class
/frontend/generated/jar-resources/index.d.ts
/frontend/index.html
/frontend/generated/jar-resources/vaadin-map/synchronization/index.js
/frontend/generated/jar-resources/index.js
/frontend/generated/jar-resources/index.js.map
/target/classes/Globals/InStock.class
/target/classes/BusinessLayer/ItemCollectionI.class
/target/classes/Globals/ItemRating.class
/target/test-classes/UnitTests/StoreTests/ItemsManagementTests.class
/target/classes/BusinessLayer/CartAndBasket/Repositories/Baskets/ItemsRepository.class
/frontend/generated/jar-resources/vaadin-map/synchronization/layers.js
/frontend/generated/jar-resources/vaadin-dev-tools/License.ts
/frontend/generated/jar-resources/lit-renderer.ts
/target/classes/BusinessLayer/Log.class
/target/classes/PresentationLayer/views/loginAndRegister/LoginAndRegisterView.class
/target/classes/CLI/LoginScreen.class
/target/classes/BusinessLayer/Stores/Lottery$1.class
/target/classes/BusinessLayer/Stores/Lottery.class
/frontend/generated/jar-resources/lumo-includes.ts
/target/classes/BusinessLayer/NotificationSystem/Mailbox.class
/target/classes/BusinessLayer/NotificationSystem/Repositories/MailboxesRepository.class
/target/test-classes/UnitTests/NotificationSystemUnitTests/MailboxTests.class
/target/classes/PresentationLayer/views/MainLayout.class
/target/classes/CLI/MainMenu.class
/frontend/generated/jar-resources/vaadin-map/mapConnector.js
/target/classes/BusinessLayer/Market.class
/frontend/generated/jar-resources/material-includes.ts
/frontend/generated/jar-resources/menubarConnector.js
/target/classes/BusinessLayer/NotificationSystem/Message.class
/frontend/generated/jar-resources/messageListConnector.js
/target/classes/ServiceLayer/Objects/MessageService.class
/target/classes/BusinessLayer/NotificationSystem/NotificationHub.class
/target/test-classes/UnitTests/NotificationSystemUnitTests/NotificationHubTests.class
/target/classes/BusinessLayer/NotificationSystem/Repositories/NotReadMessagesRepository.class
/target/classes/BusinessLayer/Users/Password.class
/target/classes/BusinessLayer/ExternalSystems/Purchase/PaymentProxyService.class
/target/classes/BusinessLayer/ExternalSystems/Purchase/PaymentRequestAdapter.class
/target/classes/BusinessLayer/ExternalSystems/Purchase/PaymentTarget.class
/target/classes/BusinessLayer/Stores/Policies/Policy.class
/target/classes/Globals/PriceRange.class
/target/test-classes/Acceptance/ProjectTest.class
/target/test-classes/Bridge/ProxyBridge.class
/target/classes/BusinessLayer/ExternalSystems/Purchase/PurchaseClient.class
/target/classes/BusinessLayer/Stores/Policies/PurchaseMethod.class
/target/classes/BusinessLayer/Stores/Policies/PurchasePolicy.class
/target/classes/BusinessLayer/NotificationSystem/Repositories/ReadMessagesRepository.class
/target/test-classes/Bridge/RealBridge.class
/target/classes/BusinessLayer/Receipts/Receipt/Receipt.class
/target/classes/BusinessLayer/Receipts/Receipt/ReceiptCollection.class
/target/classes/BusinessLayer/Receipts/ReceiptHandler.class
/target/test-classes/UnitTests/Receipts/ReceiptHandlerTest.class
/target/classes/BusinessLayer/Receipts/ReceiptItem/ReceiptItem.class
/target/classes/BusinessLayer/Receipts/ReceiptItem/ReceiptItemCollection.class
/target/classes/ServiceLayer/Objects/ReceiptService.class
/target/test-classes/UnitTests/Receipts/ReceiptTest.class
/target/classes/BusinessLayer/Users/RegisteredUser.class
/target/test-classes/Acceptance/RegisteredUserTests.class
/target/classes/CLI/RegistrationScreen.class
/target/classes/ServiceLayer/Result.class
/target/classes/BusinessLayer/CartAndBasket/Repositories/Baskets/SavedItemsRepository.class
/target/classes/CLI/Screen.class
/target/classes/Globals/SearchBy.class
/target/classes/Globals/SearchFilter.class
/target/test-classes/UnitTests/StoreTests/SearchTests.class
/frontend/generated/jar-resources/selectConnector.js
/target/classes/BusinessLayer/NotificationSystem/Repositories/SentMessagesRepository.class
/frontend/generated/jar-resources/vaadin-dev-tools/shim.ts
/target/classes/ServiceLayer/ShoppingService.class
/frontend/generated/jar-resources/vaadin-map/synchronization/sources.js
/target/classes/BusinessLayer/Stores/Store$1.class
/target/classes/BusinessLayer/Stores/Store.class
/target/classes/BusinessLayer/StorePermissions/StoreActionPermissions.class
/target/classes/BusinessLayer/StorePermissions/StoreEmployees.class
/target/test-classes/UnitTests/StoreEmployeesTest.class
/target/classes/BusinessLayer/Stores/StoreFacade.class
/target/classes/BusinessLayer/NotificationSystem/StoreMailbox.class
/target/test-classes/UnitTests/NotificationSystemUnitTests/StoreMailboxTests.class
/target/classes/PresentationLayer/views/storeManagement/StoreManagementView.class
/target/classes/BusinessLayer/StorePermissions/StoreManager.class
/target/classes/BusinessLayer/StorePermissions/StoreOwner.class
/target/test-classes/Acceptance/StoreOwnerManagerTests.class
/target/classes/Globals/StoreRating.class
/target/classes/ServiceLayer/Objects/StoreService.class
/target/classes/BusinessLayer/Stores/StoreStatus.class
/target/test-classes/UnitTests/StoreTests/StoreStatusTests.class
/frontend/generated/jar-resources/vaadin-map/synchronization/styles.js
/target/classes/BusinessLayer/ExternalSystems/Supply/SupplyClient.class
/target/classes/BusinessLayer/ExternalSystems/Supply/SupplyProxyService.class
/target/classes/BusinessLayer/ExternalSystems/Supply/SupplyRequestAdapter.class
/target/classes/BusinessLayer/ExternalSystems/Supply/SupplyTarget.class
/target/classes/PresentationLayer/views/systemManagement/SystemManagementView.class
/target/classes/BusinessLayer/Users/SystemManager.class
/target/test-classes/UnitTests/SystemManagerTest.class
/target/test-classes/Acceptance/SystemManagerTests.class
/target/test-classes/Acceptance/SystemNotificationTests.class
/target/test-classes/UnitTests/TestUser.class
/frontend/generated/theme.d.ts
/frontend/generated/theme.js
/frontend/generated/jar-resources/vaadin-time-picker/timepickerConnector.js
/frontend/generated/jar-resources/tooltip.ts
/target/classes/BusinessLayer/Users/User.class
/target/classes/DataAccessLayer/UserDAO.class
/target/classes/BusinessLayer/Users/UserFacade.class
/target/classes/BusinessLayer/NotificationSystem/UserMailbox.class
/target/test-classes/UnitTests/NotificationSystemUnitTests/UserMailboxTests.class
/target/test-classes/Acceptance/UserPurchaseTestBuyCart.class
/target/classes/ServiceLayer/UserService.class
/target/classes/ServiceLayer/UserSO.class
/target/classes/ServiceLayer/Objects/UserStaffInfoService.class
/frontend/generated/jar-resources/vaadin-map/synchronization/util.js
/frontend/generated/jar-resources/vaadin-map/util.js
/frontend/generated/vaadin.ts
/frontend/generated/jar-resources/vaadin-big-decimal-field.js
/target/vaadin-dev-server-settings.json
/frontend/generated/jar-resources/vaadin-dev-tools/vaadin-dev-tools.ts
/frontend/generated/vaadin-featureflags.ts
/frontend/generated/jar-resources/vaadin-grid-flow-selection-column.js
/target/frontend/versions.json
/frontend/generated/jar-resources/virtualListConnector.js
/target/classes/BusinessLayer/Stores/Policies/Discounts/Visible.class
